body {
  min-height: 720px;
  width: 100%;
  font-family: sans-serif;
}

#drop_zone {
  width: 100%;
  min-height: 600px;
}
#mover-container {
  width: inherit;
  min-height: inherit;
}

.movable {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
}
/* #container {
    position: relative;
} */
